@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

//Text Gradient for Headings
@mixin textLinearGradient {
  background: linear-gradient(45deg, #ffffff, #0379e0);

  background-clip: text;

  -webkit-text-fill-color: transparent;
  color: transparent;

  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: -ms-fit-content;
}

// $bg-color: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
$bg-color: url(../src/assets/bg-image.jpg);
$text: #fff;
$text-bg: #0b1121;
$box: #ffffff8f;
$link: rgb(157, 157, 224);


::selection {
  background: blue;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

//Scrollbar Settings
::-webkit-scrollbar {
  background: $text-bg;
  width: 8px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 6px;
}

body {
  margin: 0;
  background: $bg-color;
}
* {
  font-family: Inter, sans-serif;
  outline: none;
  transition: all 0.3s;
  box-sizing: border-box;
}
p {
  line-height: 180%;
}
.scroll-progress {
  position: fixed;
  border-radius: 10px;
  top: 8vh;
  left: 0;
  right: 0;
  background-color: #fff;
  transform-origin: 0%;
  height: 2px;
  z-index: 1000;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  height: 8vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: $bg-color;
  font-size: 1.1rem;
  z-index: 100;

  .left-navbar {
    font-size: 2rem;
    font-weight: 700;
    @include textLinearGradient();
  }
  .right-navbar {
    .nav-links {
      color: $text;
      text-decoration: none;
      margin: 0 10px;
      padding: 1px;
    }
  }
  .menu-close {
    position: relative;
    width: 50px;
    height: 50px;
    display: none;

    .m-c {
      position: absolute;
      font-size: 1.8rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: default;
      color: $text;
    }
    .menu {
      display: none;
    }
    .close {
      display: none;
    }
  }
}
.scrolled {
  box-shadow: 0px 0px 3px #ffffff44;
}
.home,
.about,
.projects,
.contact,
.message-sent {
  height: 100vh;
  background: $bg-color cover;
  padding: 8vh 2%;
  transition: all 1s;
}
.active {
  border-bottom: 2px solid $text;
}
.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;

  .left-home {
    position: relative;

    img {
      border-radius: 50%;
    }

    .for-border {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      animation: round 30s infinite ease-in-out;
      border: 3px ridge transparent;
      border-color: #0163b9 #002648;
    }
  }
  .right-home {
    position: relative;
    z-index: 2;

    h1 {
      @include textLinearGradient();
    }
    .intro {
      color: $text;
    }
  }
}
.about {
  height: fit-content;

  h1 {
    .greetings {
      @include textLinearGradient();
      font-size: 3rem;
    }
  }
  p {
    color: $text;
  }
  .tech-stack {
    font-weight: 600;
    @include textLinearGradient();
  }
  .skills {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 30px;
    margin-bottom: 60px;
    grid-template-columns: repeat(8, 1fr);

    div {
      width: 85px;
      height: 85px;
      background-color: #fff;
      display: grid;
      place-content: center;
      border-radius: 16px;
      position: relative;
      cursor: default;

      .tooltip {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        background-color: #fff;
        display: grid;
        place-content: center;
        text-align: center;
        font-weight: 500;
        opacity: 0;
        visibility: hidden;
      }
      .show-tooltip {
        visibility: visible;
        opacity: 1;
      }
      img {
        margin: 20px 0;
      }
      &:hover {
        box-shadow: 0px 0px 4px #fff;
      }
    }
  }
  .resume {
    .resume-heading {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .resume-title,
      .name-title {
        margin: 10px 0;
        @include textLinearGradient();
      }
    }
    .side-heading {
      @include textLinearGradient();
    }
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: grid;
        place-content: center;

        .download-icon {
          padding: 8px;
          border-radius: 10px;
          font-size: 35px;
          font-weight: 800;
          margin-left: 10px;
          color: #000;
          background-color: #fff;
        }
      }
    }
    h1,
    h2,
    .mail-phone {
      text-align: center;
      color: $link;
    }
    hr {
      border-color: #00000079;
    }
    .mail-phone {
      a {
        color: $link;
        text-decoration: none;
      }
    }
    .s-and-k {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(4, 1fr);
    }
    .detail {
      a {
        color: $link;
        text-decoration: none;
      }
    }
  }
}
.projects {
  padding: 9vh 90px 20px 90px;
  height: fit-content;

  .projects-disclaimer {
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
    margin: 10px 0;
    height: 30px;

    .disclaimer {
      background-color: $text-bg;
      color: $text;
      padding: 6px 15px;
      text-align: left;
      border-radius: 7px;
      z-index: 2;
      position: relative;
      opacity: 0;
      visibility: hidden;
      max-width: 450px;
      box-shadow: 0px 0px 2px rgb(228, 228, 228);

      &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        right: -11px;
        top: 25%;
        transform: rotate(45deg);
        background-color: $text-bg;
        z-index: 1;
        border-radius: 3px;
      }
    }
    .show-dis {
      opacity: 1;
      visibility: visible;
    }
    .diclaimer-icon {
      color: $text;
      font-size: 1.5rem;
      display: grid;
      place-content: center;
    }
  }
  .all-projects {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 20px;

    .project {
      width: 400px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: transparent;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0px 0px 3px #ffffff88;

      .details {
        color: $text;
        text-align: center;
      }
      a {
        text-align: center;
        text-decoration: none;
        color: $link;

        &:hover {
          text-decoration: underline;
        }
      }
      .image-container {
        margin: 20px auto 0 auto;
        border-radius: 10px;
        box-shadow: 0px 0px 6px #00000065;

        img {
          width: 380px;
          height: 200px;
          border-radius: 10px;
        }
      }
    }
  }
}
.message-sent {
  height: 100vh;
  text-align: center;
  font-size: 1.5rem;
  display: grid;
  place-content: center;
  color: $text;
}
.contact {
  height: fit-content;
}
.contact,
.message-sent {
  padding: 8vh 2% 10px 2%;

  .form {
    padding: 6% 2%;
    width: 80%;
    height: fit-content;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    input {
      height: 40px;
      padding: 0 20px;
    }
    input,
    textarea {
      font-size: 1.1rem;
      resize: none;
      width: 100%;
      border-radius: 10px;
      border: none;
      background: transparent;
      box-shadow: 0px 0px 2px $box;
      color: $text;

      &::placeholder {
        color: $box;
      }
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: #ffffff;
      box-shadow: 0px 0px 2px $box;
    }
    textarea {
      height: 150px;
      grid-column: span 2;
      padding: 20px;
    }
    button {
      height: 40px;
      width: 200px;
      border-radius: 10px;
      border: 1px solid $box;
      font-size: 1.1rem;
      background: $bg-color;
      color: $text;
      box-shadow: 3px 3px 0px #fff;

      &:active {
        box-shadow: 0px 0px 0px #fff;
        transform: translate(3px, 3px);
      }
    }
  }
  .social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
    width: 75%;
    margin: 40px auto auto auto;

    span {
      font-size: 1.5rem;
      font-weight: 700;
      color: $text;
    }
    div {
      width: 70px;
      height: 70px;
      background-color: #ffffff;
      border-radius: 14px;

      a {
        width: 70px;
        height: 70px;
        display: grid;
        place-content: center;

        img {
          width: 50px;
        }
      }
    }
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  body {
    background-position: 45% 0%;
  }
  .home {
    flex-direction: column;

    .left-home {
      img {
        max-width: 350px;
      }
    }
  }
  .about {
    .skills {
      grid-template-columns: repeat(4, 1fr);
    }
    .resume {
      .s-and-k {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  .projects {
    padding: 9vh 20px 90px 20px;
  }
}
@media (max-width: 567px) {
  .navbar {
    .right-navbar {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: grid;
      place-content: center;
      line-height: 70px;
      font-size: 2rem;
      background-image: $bg-color;
      width: 60%;
      height: 60%;
      visibility: hidden;
      opacity: 0;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 10px 10px 1px 200px #000000a8;

      .nav-links {
        text-align: center;
      }
    }
    .right-navbar-active {
      width: 80%;
      height: 80%;
      visibility: visible;
      opacity: 1;
    }
    .menu-close {
      display: block;

      .hide {
        display: none;
      }
      .show {
        display: block;
      }
    }
  }
  .home {
    flex-direction: column;

    .left-home {
      img {
        max-width: 300px;
      }
    }
  }
  .about {
    .skills {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .contact {
    .form {
      display: flex;
      flex-direction: column;
      width: 90%;
    }
    .social {
      width: 85%;
    }
  }
}
@media (max-width: 425px) {
  .home {
    padding: 10vh 3% 2vh 3%;

    .left-home {
      img {
        max-width: 250px;
      }
    }
    .right-home {
      h1 {
        font-size: 28px;
      }
    }
  }
  .projects {
    .projects-disclaimer {
      .disclaimer {
        font-size: 0.9rem;
      }
    }
    .all-projects {
      .project {
        width: auto;

        .image-container {
          img {
            width: 300px;
            height: 160px;
          }
        }
      }
    }
  }
  .contact, .message-sent {
    .form {
      grid-gap: 20px;
    }
    .social {
      width: 100%;
      justify-content: center;

      div {
        width: 50px;
        height: 50px;
        border-radius: 8px;

        a {
          width: 50px;
          height: 50px;

          img {
            width: 35px;
          }
        }
      }
    }
  }
}
@media (max-width: 350px) {
  .home {
    .left-home {
      img {
        max-width: 200px;
      }
    }
    .right-home {
      h1 {
        font-size: 24px;
      }
    }
  }
  .projects {
    .projects-disclaimer {
      .disclaimer {
        font-size: 0.8rem;
      }
    }
  }
}
