@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
::-webkit-scrollbar {
  background: #f7ce68;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

body {
  margin: 0;
  background: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

* {
  font-family: Inter, sans-serif;
  outline: none;
  transition: all 0.3s;
  box-sizing: border-box;
}

p {
  line-height: 24px;
}

.scroll-progress {
  position: fixed;
  border-radius: 10px;
  top: 8vh;
  left: 0;
  right: 0;
  background-color: #fff;
  transform-origin: 0%;
  height: 3px;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  height: 8vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  font-size: 1.1rem;
  z-index: 100;
}
.navbar .left-navbar {
  font-size: 2rem;
  font-weight: 700;
  background-image: linear-gradient(109.6deg, rgb(53, 1, 106) 11.2%, rgb(2, 0, 4) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback for older browsers */
  width: fit-content;
  width: -moz-fit-content; /* Fallback for Firefox */ /* Fallback for WebKit-based browsers */
  width: -ms-fit-content;
}
.navbar .right-navbar .nav-links {
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  padding: 1px;
}
.navbar .menu-close {
  position: relative;
  width: 50px;
  height: 50px;
  display: none;
}
.navbar .menu-close .m-c {
  position: absolute;
  font-size: 1.8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
}
.navbar .menu-close .menu {
  display: none;
}
.navbar .menu-close .close {
  display: none;
}

.scrolled {
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5529411765);
}

.home,
.about,
.projects,
.contact,
.message-sent {
  height: 100vh;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  padding: 8vh 2%;
  transition: all 1s;
}

.active {
  border-bottom: 2px solid #000;
}

.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.home .left-home {
  position: relative;
}
.home .left-home img {
  border-radius: 50%;
}
.home .left-home .for-border {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: round 30s infinite ease-in-out;
  border: 7px ridge transparent;
  border-color: rgb(53, 1, 106) rgb(2, 0, 4);
}
.home .right-home h1 {
  background-image: linear-gradient(109.6deg, rgb(53, 1, 106) 11.2%, rgb(2, 0, 4) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback for older browsers */
  width: fit-content;
  width: -moz-fit-content; /* Fallback for Firefox */ /* Fallback for WebKit-based browsers */
  width: -ms-fit-content;
}

.about {
  height: -moz-fit-content;
  height: fit-content;
}
.about h1 .greetings {
  background-image: linear-gradient(109.6deg, rgb(53, 1, 106) 11.2%, rgb(2, 0, 4) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback for older browsers */
  width: fit-content;
  width: -moz-fit-content; /* Fallback for Firefox */ /* Fallback for WebKit-based browsers */
  width: -ms-fit-content;
  font-size: 3rem;
}
.about .tech-stack {
  font-weight: 600;
  background-image: linear-gradient(109.6deg, rgb(53, 1, 106) 11.2%, rgb(2, 0, 4) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback for older browsers */
  width: fit-content;
  width: -moz-fit-content; /* Fallback for Firefox */ /* Fallback for WebKit-based browsers */
  width: -ms-fit-content;
}
.about .skills {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 30px;
  margin-bottom: 60px;
  grid-template-columns: repeat(8, 1fr);
}
.about .skills div {
  width: 85px;
  height: 85px;
  background-color: #fff;
  display: grid;
  place-content: center;
  border-radius: 16px;
}
.about .skills div img {
  margin: 20px 0;
}
.about .resume .resume-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about .resume .resume-heading .resume-title,
.about .resume .resume-heading .name-title {
  margin: 10px 0;
  background-image: linear-gradient(109.6deg, rgb(53, 1, 106) 11.2%, rgb(2, 0, 4) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback for older browsers */
  width: fit-content;
  width: -moz-fit-content; /* Fallback for Firefox */ /* Fallback for WebKit-based browsers */
  width: -ms-fit-content;
}
.about .resume .side-heading {
  background-image: linear-gradient(109.6deg, rgb(53, 1, 106) 11.2%, rgb(2, 0, 4) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback for older browsers */
  width: fit-content;
  width: -moz-fit-content; /* Fallback for Firefox */ /* Fallback for WebKit-based browsers */
  width: -ms-fit-content;
}
.about .resume h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .resume h1 a {
  display: grid;
  place-content: center;
}
.about .resume h1 a .download-icon {
  padding: 8px;
  border-radius: 10px;
  font-size: 35px;
  font-weight: 800;
  margin-left: 10px;
  color: #000;
  background-color: #fff;
}
.about .resume h1,
.about .resume h2,
.about .resume .mail-phone {
  text-align: center;
}
.about .resume hr {
  border-color: rgba(0, 0, 0, 0.4745098039);
}
.about .resume .mail-phone a {
  color: #000;
}
.about .resume .s-and-k {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
}
.about .resume .detail a {
  color: #000;
}

.projects {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 20px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 90px;
}
.projects .project {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7176470588);
}
.projects .project .details {
  color: #000;
  text-align: center;
}
.projects .project a {
  text-align: center;
}
.projects .project .image-container {
  margin: 20px auto 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3960784314);
}
.projects .project .image-container img {
  width: 280px;
  height: 500px;
  border-radius: 10px;
}

.message-sent {
  font-size: 1.5rem;
  display: grid;
  place-content: center;
}

.contact .form,
.message-sent .form {
  padding: 6% 2%;
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.contact .form input,
.message-sent .form input {
  height: 40px;
  padding: 0 20px;
}
.contact .form input,
.contact .form textarea,
.message-sent .form input,
.message-sent .form textarea {
  font-size: 1.1rem;
  resize: none;
  width: 100%;
  border-radius: 10px;
  border: none;
}
.contact .form textarea,
.message-sent .form textarea {
  height: 150px;
  grid-column: span 2;
  padding: 20px;
}
.contact .form button,
.message-sent .form button {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
}
.contact .social,
.message-sent .social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
  width: 75%;
  margin: auto;
}
.contact .social span,
.message-sent .social span {
  font-size: 1.5rem;
  font-weight: 700;
}
.contact .social div,
.message-sent .social div {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 14px;
}
.contact .social div a,
.message-sent .social div a {
  width: 70px;
  height: 70px;
  display: grid;
  place-content: center;
}
.contact .social div a img,
.message-sent .social div a img {
  width: 50px;
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}
@media (max-width: 900px) {
  .home {
    flex-direction: column;
  }
  .home .left-home img {
    max-width: 350px;
  }
  .about .skills {
    grid-template-columns: repeat(4, 1fr);
  }
  .about .resume .s-and-k {
    grid-template-columns: repeat(3, 1fr);
  }
  .projects {
    padding: 90px 10px 90px 10px;
  }
}
@media (max-width: 567px) {
  .navbar .right-navbar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-content: center;
    line-height: 70px;
    font-size: 2rem;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    width: 60%;
    height: 60%;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 10px 10px 1px 200px rgba(0, 0, 0, 0.4745098039);
  }
  .navbar .right-navbar .nav-links {
    text-align: center;
  }
  .navbar .right-navbar-active {
    width: 80%;
    height: 80%;
    visibility: visible;
    opacity: 1;
  }
  .navbar .menu-close {
    display: block;
  }
  .navbar .menu-close .hide {
    display: none;
  }
  .navbar .menu-close .show {
    display: block;
  }
  .home {
    flex-direction: column;
  }
  .home .left-home img {
    max-width: 300px;
  }
  .about .skills {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact .form {
    display: flex;
    flex-direction: column;
    padding: 5% 2%;
    width: 90%;
  }
  .contact .social {
    width: 85%;
  }
}
@media (max-width: 425px) {
  .home {
    padding: 10vh 3% 2vh 3%;
  }
  .home .left-home img {
    max-width: 250px;
  }
}
@media (max-width: 350px) {
  .home .left-home img {
    max-width: 200px;
  }
}/*# sourceMappingURL=index.css.map */